[submodule "packages/nestjs-core-essentials"]
	path = packages/nestjs-core-essentials
	url = https://github.com/dennisofficial/nestjs-core-essentials.git
[submodule "packages/jwt-auth"]
	path = packages/jwt-auth
	url = https://github.com/dennisofficial/jwt-auth.git
